= form_for @spot do |f|
  - if @spot.errors.any?
    #error_explanation
      %h2= "#{pluralize(@spot.errors.count, "error")} prohibited this spot from being saved:"
      %ul
        - @spot.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
